<section class="py-4">
    <div class="d-flex justify-content-center align-items-center">
      <!-- To Get Image -->
        <div class="img ">
          <img
            class="card-img-top img-thumbnail border-0 bg-transparent  rounded-3"
            src="./assets/images/2.jpg"
            style="width: 300px;"
            >

        </div>


      <!-- To Get Details Media Type -->
      <div class="px-5">
        <h2>Name → Ahmed Samir Sakr </h2>
        <p  class=" bg-gradient">Faculty → Faculty of computers and artificial intelligence - Benha University  </p>
        <p  class=" bg-gradient">Department → Computer Science </p>
        <p  class="py-2">Place of Birth → Cairo , Egypt</p>
        <p  class="py-2">Years → 20 </p>
        </div>
    </div>
</section>
