img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.alert-danger
{
  background-color: rgb(85, 20, 96);
  outline: none;
}
input{
  font-size: 20px;
    height: 36px;
    text-align: center;
    width: 52px;
    color: #fff;
    background-color: #580f4c;
}
option{
  background-color: #580f4c;
  
}
