  <section class="py-5">
    <div class="container">
    <form   class=" text-center" [formGroup]="registerData">
      <h2 class=" py-3">Sign Up To Market </h2>
      <mat-error class=" pb-3">{{errorMessage}}</mat-error>
        <mat-form-field class=" w-75" appearance="fill">
          <mat-label>Enter your First Name</mat-label>
          <input type="text" formControlName="firstName" placeholder="Enter First Name"  class="" matInput   >
          <mat-error  >Please Enter Valid name</mat-error>

        </mat-form-field>

        <mat-form-field class=" my-3 w-75" appearance="fill">
          <mat-label>Enter your Last Name</mat-label>
          <input type="text"  formControlName="lastName" placeholder="Enter Last Name" class="" matInput  required>
          <mat-error  >Please Enter Valid name</mat-error>
        </mat-form-field>


        <mat-form-field class=" w-75" appearance="fill">
          <mat-label>Enter your Email</mat-label>
          <input type="email"  formControlName="email" placeholder="Enter Email"   class="" matInput  required>
          <mat-error  >Please Enter Valid Email</mat-error>
        </mat-form-field>


         <mat-form-field class="my-3 w-75">
          <mat-label>Enter Your Password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button class="hide" mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error  >Please Enter Valid Password</mat-error>
      </mat-form-field>





    <br>

    <button class="glow-on-hover w-75 p-4"  mat-raised-button color="primary" type="submit" (click)="signUp(registerData)">

      <span class=" fs-4" *ngIf="isLoading">  Sign Up  </span>
      <i  *ngIf="!isLoading" class="fa fa-spinner fa-spin" style="font-size:20px"></i>


      </button>

    </form>



    </div>
    </section>
