<section class="py-5">
  <div class="container">
    <form (ngSubmit)="signUp()" class="text-center" [formGroup]="registerData">
      <h3 class="pb-3">Sign Up To Movies</h3>
      <mat-error>{{ errorMessage }}</mat-error>

      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Enter your First Name</mat-label>
        <input type="text" formControlName="firstName" placeholder="Enter First Name" matInput>
        <mat-error *ngIf="registerData.controls['firstName'].invalid && registerData.controls['firstName'].touched">
          Please enter a valid name (3-10 characters).
        </mat-error>        
      </mat-form-field>

      <mat-form-field class="my-3 w-75" appearance="fill">
        <mat-label>Enter your Last Name</mat-label>
        <input type="text" formControlName="lastName" placeholder="Enter Last Name" matInput>
        <mat-error *ngIf="registerData.controls['lastName'].invalid && registerData.controls['lastName'].touched">
          Please enter a valid name (3-10 characters).
        </mat-error>
        
      </mat-form-field>

      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Enter your Email</mat-label>
        <input type="email" formControlName="email" placeholder="Enter Email" matInput>
        <mat-error *ngIf="registerData.get('email')?.invalid && registerData.get('email')?.touched">
          Please enter a valid email address.
        </mat-error>
        
      </mat-form-field>

      <mat-form-field class="my-3 w-75" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" placeholder="Enter Password" type="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerData.controls['password'].invalid && registerData.controls['password'].touched">
          Please enter a valid password (minimum 3 characters, alphanumeric only).
        </mat-error>        
      </mat-form-field>

      <br>

      <button class="glow-on-hover w-75 p-2" mat-raised-button color="primary" type="submit">
        <span *ngIf="!isLoading; else loadingIcon" style="font-size:20px">Sign Up</span>
        <ng-template #loadingIcon>
          <i class="fa fa-spinner fa-spin" style="font-size:20px"></i>
        </ng-template>
      </button>
    </form>
  </div>
</section>
